/* START--body */
* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
  padding: 30px 110px;
  background-color: #171717;
}

a {
  text-decoration: none;
}
/* END--body */

nav {
  display: flex;
  padding-top: 2.5rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}


.nav--btn {
  display: flex;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid var(--Gray-8, #343a40);
  background: var(--Gray-9, #212529);
}

.icon {
  width: 1.5625rem;
  height: 1.5625rem;
}

a {
  color: var(--Gray, #f8f9fa);
  font-family: Montreal;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.main-contianer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}
.hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the image */
  justify-content: center;
  align-self: stretch;
  gap: 1.25rem;
}

.main--image {
  width: 66.25rem;
  height: 38.625rem;
}

h1 {
  position: relative;
  width: 100%;
  z-index: 0;
  margin: 0;
  color: var(--Gray-1, #f8f9fa);
  text-align: center;
  font-family: "Liberation Serif";
  font-size: 8.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.first--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
}

.type {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.role {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.year {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.introduction {
  gap: 10px;
  display: flex;
  width: 66.25rem;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  color: var(--Gray-1, #f8f9fa);
  font-family: "Montreal Bold";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 125% */
  text-transform: uppercase;
}

p {
  color: var(--Gray-7, #838383);
  font-family: Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 125% */
  text-transform: lowercase;
}

.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 3.125rem;
}

.process {
  gap: 10px;
  display: flex;
  width: 66.25rem;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1.4375rem;
}

.img-fluid-001 {
  width: 100%;
  height: 37rem;
}

.img-fluid-002 {
  width: 100%;
  height: 57.6875rem;
}

.img-fluid-003 {
  width: 100%;
  height: 14.125rem;
}

.img-container-0 {
  display: flex;
  justify-content: center;
}

.col-6 {
  display: flex;
  align-items: flex-start;
  gap: 1.4375rem;
  align-self: stretch;
}

/***** CTA *****/
.cta {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
}

.frame--8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.frame--8,
p.subtext {
  color: var(--Gray-7, #838383);
  text-align: center;
  font-family: Montreal;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
  text-transform: capitalize;
}

h4 {
  color: var(--Gray-1, #f8f9fa);
  font-family: "Liberation Serif";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

a.button {
  color: var(--Gray, #f8f9fa);
  font-family: Montreal;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  display: flex;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Gray-8, #343a40);
  background: var(--Gray-9, #212529);
  box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.tertiary--text {
  color: var(--Gray-7, #838383);
  font-family: Montreal;
  font-size: 12px;
  text-transform: lowercase;
}
/***** CTA *****/

.cta {
  gap: 1.5625rem;
}

.frame--8,
p.subtext {
  font-size: 12px;
}

h4 {
  font-size: 16px;
}

a.button {
  font-size: 12px;
  padding: 10px 8px;
  justify-content: center;
  border-radius: 5px;
}

.tertiary--text {
  font-size: 10px;
}

@media only screen and (min-width: 481px) and (max-width: 810px) {
  body {
    gap: 75px;
    padding: 100vh;
  }

  h1 {
    font-size: 50px;
    width: auto;
  }

  .main--image,
  .img-fluid-001,
  .img-fluid-002,
  .img-fluid-003 {
    width: 100%;
    height: auto;
  }

  .introduction {
    gap: 10px;
    width: auto;
  }

  .process {
    gap: 10px;
    width: auto;
  }

  .type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    gap: 3.75rem;
    padding: 1.875rem 1rem;
  }

  nav {
    padding-top: 0;
  }

  h1 {
    font-size: 50px;
  }


  .introduction {
    gap: 10px;
    width: auto;
  }

  .process {
    gap: 10px;
    width: auto;
  }

  .type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .main--image,
  .img-fluid-001,
  .img-fluid-002,
  .img-fluid-003 {
    width: 100%;
    height: auto;
  }
}
